<nav class="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar">
  <a class="navbar-brand" href="#">
    <div class="loader {{temperature}}">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
    </div>
  </a>
  <ul class="nav ml-auto">
    <li class="nav-item language-select">
      <md-select (change)="onLanguage($event)" id="language-select">
        <select class="mdb-select">
          <option value="en">English</option>
          <option value="fr">French</option>
        </select>
      </md-select>
    </li>
    <li class="nav-item">
      <a class="active" href="#">
        <i class="fa fa-comment-o fa-2x white-text"></i>
        <span class="badge badge-danger notification-count">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa fa-bell fa-2x white-text"></i>
        <span class="badge badge-danger notification-count">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <i class="fa fa-envelope-open-o fa-2x white-text"></i>
        <span class="badge badge-danger notification-count">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="" href="#">
        <i class="fa fa-th fa-2x white-text"></i>
        <span class="badge badge-danger notification-count">2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <!-- <i class="fa fa-user-circle-o fa-2x"></i> -->
        <img src="{{user.avatar}}" class="rounded-circle" />
        <span class="badge badge-danger notification-count">2</span>
      </a>
    </li>
  </ul>
</nav>