
.notification-count{
    position: relative;
    top: -1rem;
    right: 1rem;
}
.nav-item{
     padding: 0.3rem; 
}
  
  .loader {
    position: absolute;
    top: calc(50% - 32px);
    left: 20px;
    width: 64px;
    height: 64px; 
    border-radius: 50%;
    perspective: 800px;
  }
  
  .loader.hot div{
    border-color: rgb(233, 63, 21);
  }
  .loader.cold div{
    border-color: #EFEFFA;
  }
  .loader.dead div{
    border-color: rgb(90, 90, 93);
  }

  .loader div{
    transition: border-color 0.5s ease-in-out;
  }

  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid ;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
   
/* Extra small devices (portrait phones, less than 576px) XS*/ 
@media (max-width: 575px) { 
  .navbar{
    height: 4rem;
  }
  #right-menu{
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up) SM*/
@media (min-width: 576px) and (max-width: 767px) { 
  
}

/* Medium devices (tablets, 768px and up) MD*/
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Large devices (desktops, 992px and up) LG*/
@media (min-width: 992px) and (max-width: 1199px) { 
 
}

/* Extra large devices (large desktops, 1200px and up) >LG*/
@media (min-width: 1200px) { 
 
}