<section class="mt-lg-5">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r" *ngFor="let card of cardViewModel">
      <app-dashboardcard [card]="card"></app-dashboardcard>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<!-- 
<div style="width: 30rem">
  <div class="card-wrapper">
    <div id="card-1" class="card-rotating effect__click card card-cascade cascading-admin-card">
      <div class="face front">
        <div class="admin-up">
            <i class="fa fa-paper-plane"></i>
            <div class="data">
                <p>Test</p>
                <h4 class="font-bold dark-grey-text"><app-counter [value]="200"></app-counter></h4>
              </div>
        </div>
        <div class="card-body">
          <div class="progress">
              <div class="progress-bar bg-primary"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">Better than last week (10%)</p>
          <p class="card-text">Worse than last week (10%)</p>
          <a class="rotate-btn" data-card="card-1">
            <i class="fa fa-repeat"></i> Click here to rotate</a>
        </div>
      </div>
      <div class="face back">
          <canvas id="lineChart"></canvas>
          <a class="rotate-btn" data-card="card-1">
              <i class="fa fa-repeat"></i> Click here to rotate</a>
      </div>
    </div>
  </div>

</div>  -->