.card-wrapper .face{
    height: unset!important;
}
.card-wrapper .card-rotating{
    text-align: initial!important;
}

.card-wrapper{
    min-height: unset!important;
}

.card-wrapper .back{
    padding: 0rem;
}