<div class="card-columns">
   <!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.ApplicationLaunch' | translate }}</h2>
        <p><app-counter [value]="logCount.ApplicationLaunch"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.ApplicationLaunch' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
    <!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.Addendum' | translate }}</h2>
        <p><app-counter [value]="logCount.Addendum"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.AddendumText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card--><!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.ContactActivity' | translate }}</h2>
        <p><app-counter [value]="logCount.ContactActivity"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.ContactActivityText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card--><!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.ExportData' | translate }}</h2>
        <p><app-counter [value]="logCount.ExportData"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.ExportDataText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card--><!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.InsideSales' | translate }}</h2>
        <p><app-counter [value]="logCount.InsideSales"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.InsideSalesText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card--><!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.LocationLog' | translate }}</h2>
        <p><app-counter [value]="logCount.LocationLog"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.LocationLogText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
    <!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.PhoneCall' | translate }}</h2>
        <p><app-counter [value]="logCount.PhoneCall"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.PhoneCallText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->

    <!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.Pipeline' | translate }}</h2>
        <p><app-counter [value]="logCount.Pipeline"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.PipelineText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->

     <!--Card-->
   <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">{{'dashboard.Proposal' | translate }}</h2>
        <p><app-counter [value]="logCount.Proposal"></app-counter></p>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <p class="card-text">{{'dashboard.ProposalText' | translate }}
        </p>
        <hr>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--Linkedin-->
        <a class="icons-sm li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <!--Email-->
        <a class="icons-sm email-ic">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
</div>


<modal id="throbber2">
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title throbber 2</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('throbber')">Close</button>
        </div>
      </div>
    </div>
  </div>
</modal>

<modal id="throbber1">
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title throbber1</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('throbber1')">Close</button>
        </div>
      </div>
    </div>
  </div>
</modal>

<modal id="throbber3">
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title throbber3</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('throbber1')">Close</button>
        </div>
      </div>
    </div>
  </div>
</modal>