<!--Card-->
<div class="card card-cascade narrower">
  <!--Section: Chart-->
  <section>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-xl-4 col-lg-12 mr-0">

        <!--Card image-->
        <div class="view gradient-card-header blue-gradient">
          <h2 class="h2-responsive mb-0">Inspect</h2>
        </div>
        <!--/Card image-->
        <!--Card content-->
        <div class="card-body pb-0">

          <!--Panel data-->
          <div class="row card-body pt-3">

            <!--First column-->
            <div class="col-md-6">

              <!--Date select-->
              <p class="lead">
                <span class="badge info-color p-2">Data range</span>
              </p>
                <select class="mdb-select" name="selectedRange" (change)="onRangeChange($event.target.value)">
                  <option value="" disabled="" selected="">Choose time period</option>
                  <option value="0">Year To Date</option>
                  <option value="1">Today</option>
                  <option value="2">Yesterday</option>
                  <option value="3">Last 7 days</option>
                  <option value="4">Last 30 days</option>
                  <option value="5">Last month</option>
                </select>

              <!--Date pickers-->
              <p class="lead mt-5">
                <span class="badge info-color p-2">Custom date</span>
              </p>
              <br>
              <div class="md-form">
                <input placeholder="Selected date" type="text" id="from" class="form-control datepicker picker__input" readonly="" aria-haspopup="true"
                  aria-expanded="false" aria-readonly="false" aria-owns="from_root">
                <label for="date-picker-example" class="active">From</label>
              </div>
              <div class="md-form">
                <input placeholder="Selected date" type="text" id="to" class="form-control datepicker picker__input" readonly="" aria-haspopup="true"
                  aria-expanded="false" aria-readonly="false" aria-owns="to_root">
                <label for="date-picker-example" class="active">To</label>
              </div>

            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-6 text-left pl-5">
                <div class="form-group" *ngFor="let card of allCards">
                    <input type="checkbox" [attr.id]="card.Name" (click)="onCheckChange($event)" [attr.value]="card.Id" [checked]="selectedCardId.includes(card.Id)"/>
                    <label [attr.for]="card.Name">{{card.Name}}</label>
                </div>
              <!--Summary-->
            </div>
            <!--/Second column-->
          </div>
          <!--/Panel data-->
        </div>
        <!--/.Card content-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-xl-8 col-lg-12 mb-r">
        <!--Card image-->
        <div class="view gradient-card-header indigo">
          <!-- Chart -->
          <canvas id="lineChart-main" height="400" width="1013"></canvas>
        </div>
        <!--/Card image-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Chart-->
</div>
<!--/.Card-->